<div class="site-wrapper">

  <div class="flex items-start justify-between">

    <app-sidebar></app-sidebar>

    <div class="main-site w-full h-full">

      <app-header></app-header>


      <div class="content-area w-full p-10">

        <div class="inner text-theme-black space-y-10">

          <!-- <app-messages></app-messages> -->

          <router-outlet></router-outlet>

        </div>
        <!-- inner -->
      </div>
      <!-- content area -->


    </div>
    <!-- main site -->
  </div>


</div>
<!-- site wrapper -->
