<div class="site-wrapper">

  <div class="flex items-start justify-between">


    <app-sidebar *ngIf="isLoggedIn"></app-sidebar>

    <div class="main-site w-full h-full">

      <app-header *ngIf="isLoggedIn"></app-header>

      <div class="content-area w-full p-10" [class]="isLoggedIn ? '' : 'flex items-center justify-center h-screen'">

        <div class="inner text-theme-black">

          <app-messages *ngIf="!hasRoute('/login')"></app-messages>

          <router-outlet></router-outlet>

        </div>
        <!-- inner -->
      </div>
      <!-- content area -->


    </div>
    <!-- main site -->
  </div>


</div>
<!-- site wrapper -->
