<div class="profile-actions relative group">
  <span class="w-10 h-10 border border-gray-400 rounded-full boder flex items-center justify-center cursor-pointer hover:border-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-700 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
    </svg>
  </span>

  <div class="profile-dropdown transition-all hidden group-hover:block">
    <div class="w-48 absolute top-0 right-0 pt-12">
      <div class="bg-white bg-opacity-90 rounded border border-gray-300 shadow-xl">
        <ul class="w-full">
          <li><a routerLink="/profile" class="px-6 py-2 block hover:bg-gray-100">Profile</a></li>
          <li><a class="px-6 py-2 block hover:bg-gray-100">Account Setting</a></li>
          <li><a class="px-6 py-2 block hover:bg-gray-100">Payment History</a></li>
          <li class="w-full h-px bg-gray-300"></li>
          <li><a href (click)="logout()" class="px-6 py-2 block hover:bg-gray-100">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- profile dropdown -->

</div>
<!-- profile actinos -->
