<div class="dash-grid-box">
  {{message}}
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10">


    <div class="border border-gray-300 rounded h-auto transition-all hover:border-gray-400 p-6 pb-5 space-y-5">

      <div class="flex items-center justify-between">

        <div class="icon-box bg-white">
          <div class="inner w-24 h-24 border border-gray-300 rounded flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
            </svg>
          </div>
        </div>
        <!-- icon-box -->

        <div class="numbers text-right">
          <div class="text-gray-500 capitalize">Traffic</div>
          <div class="text-3xl text-theme-black"> 350,598 </div>
        </div>
        <!-- numbers -->

      </div>
      <!-- flex -->

      <hr class="h-px bg-gray-500">

      <div class="flex items-start space-x-1 text-sm text-gray-600">
        <span class="text-green-600 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
          </svg>
          <span>32%</span>
        </span>
        <span>Since last month</span>
      </div>
      <!-- statics -->

    </div>
    <!-- box -->


    <div class="border border-gray-300 rounded h-auto transition-all hover:border-gray-400 p-6 pb-5 space-y-5">

      <div class="flex items-center justify-between">

        <div class="icon-box bg-white">
          <div class="inner w-24 h-24 border border-gray-300 rounded flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </div>
        </div>
        <!-- icon-box -->

        <div class="numbers text-right">
          <div class="text-gray-500 capitalize">New Users</div>
          <div class="text-3xl text-theme-black"> 2,356 </div>
        </div>
        <!-- numbers -->

      </div>
      <!-- flex -->

      <hr class="h-px bg-gray-500">

      <div class="flex items-start space-x-1 text-sm text-gray-600">
        <span class="text-red-600 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
          </svg>
          <span>3.8%</span>
        </span>
        <span>Since last month</span>
      </div>
      <!-- statics -->

    </div>
    <!-- box -->


    <div class="border border-gray-300 rounded h-auto transition-all hover:border-gray-400 p-6 pb-5 space-y-5">

      <div class="flex items-center justify-between">

        <div class="icon-box bg-white">
          <div class="inner w-24 h-24 border border-gray-300 rounded flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          </div>
        </div>
        <!-- icon-box -->

        <div class="numbers text-right">
          <div class="text-gray-500 capitalize">Sales</div>
          <div class="text-3xl text-theme-black"> 924 </div>
        </div>
        <!-- numbers -->

      </div>
      <!-- flex -->

      <hr class="h-px bg-gray-500">

      <div class="flex items-start space-x-1 text-sm text-gray-600">
        <span class="text-red-600 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
          </svg>
          <span>1.10%</span>
        </span>
        <span>Since last month</span>
      </div>
      <!-- statics -->

    </div>
    <!-- box -->


    <div class="border border-gray-300 rounded h-auto transition-all hover:border-gray-400 p-6 pb-5 space-y-5">

      <div class="flex items-center justify-between">

        <div class="icon-box bg-white">
          <div class="inner w-24 h-24 border border-gray-300 rounded flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
          </div>
        </div>
        <!-- icon-box -->

        <div class="numbers text-right">
          <div class="text-gray-500 capitalize">Performance</div>
          <div class="text-3xl text-theme-black"> 49,65%</div>
        </div>
        <!-- numbers -->

      </div>
      <!-- flex -->

      <hr class="h-px bg-gray-500">

      <div class="flex items-start space-x-1 text-sm text-gray-600">
        <span class="text-green-600 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
          </svg>
          <span>12%</span>
        </span>
        <span>Since last month</span>
      </div>
      <!-- statics -->

    </div>
    <!-- box -->

  </div>
</div>
<!-- dash grid box -->
