<div class="temp-message flex items-center justify-between border rounded p-3 md:p-5">
  <span class="text-normal md:text-lg">Welcome To Flick Admin Panel!</span>
  <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer text-gray-700 hover:text-red-500 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
</div>
<!-- temp message -->
