<div class="header flex items-center justify-end md:justify-between px-10 h-16 border-b border-gray-400">

  <div class="links w-auto lg:w-full text-gray-500 text-sm tracking-wide font-medium hidden md:block">
    <span>
      Dashboard
    </span>
  </div>
  <!-- links -->

  <div class="right-side flex items-center justify-between md:justify-end w-auto space-x-5 lg:space-x-20">

    <app-search></app-search>

    <app-profile-action></app-profile-action>

  </div>
  <!-- top mene right side4 -->

</div>
<!-- header -->
